* {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgba(195, 204, 202, 0.219);
  }

.header-contenedor {
    display: grid;
    align-items: center;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(6, auto);
   
}

.uno {
    display: grid;
    justify-content: end;
    grid-column: 1/2;
    grid-row: 1/ span 2;
    background: rgb(16,101,126);
    margin: 0%;
}

.uno img {
    height: 301px;
    width: 301px;
    border-radius: 50%;
}

.dos {
    grid-column: 2/2;
    grid-row: 1/1;
    background-color:rgb(180, 183, 185);
    margin: 0%;
}

.dos h1 {
    font-family: fantasy;
    font-size: 51px;
    color: rgb(235, 235, 240);
    -webkit-text-stroke: 3px black;
}

.dos h4 {
    color: rgb(25, 25, 214);
}

.tres {
    display: flex;
    justify-content: space-evenly;
    background: rgb(180, 183, 185);
    
    margin: 0%;
}

.tres img {
    height: 55px;
    width: 60px;
}

.cuatro {
    display: grid;
    justify-content: center;
    grid-column: 1/1;
    grid-row: 3/3;
    background: rgb(180, 183, 185);
    margin: 0%;
}

li, h2 {
    margin: 3%;
}
.cinco {
    grid-column: 2/2;
    grid-row: 3/3;
}

.seis {
    grid-column: 1/1;
    grid-row: 4/4;
    background: rgb(180, 183, 185);
    margin: 0%;
    display: grid;
    justify-content: center;
}

.siete {
    grid-column: 1/1;
    grid-row: 5/5;
    background: rgb(180, 183, 185);
    margin: 0%;
    display: grid;
    justify-content: center;
    align-content: start;
    height: 100%;
    width: 100%;
}

.ocho {
    grid-column: 2/2;
    grid-row: 4/4;
}

.nueve {
    grid-column: 2/2;
    grid-row: 5/5;
}

.diez {
    grid-column: 1/ span 2;
    grid-row: 6/6;
    background: rgba(216, 243, 163, 0.322);
    margin: 0%;
}

@media screen and (max-width: 1440px) {
    .uno {
        display: grid;
        justify-content: center;
    }
        .dos {
        height: 100%;
    }
    .tres {
        height: 100%;
    }
}

@media screen and (min-width: 768px) {
    .uno {
        display: grid;
        justify-content: center;
        align-content:center;
        height: 100%;
    }
    .uno img {
        height: 200px;
        width: 200px;
    }
    .tres img {
        margin: auto;
    }
}

@media screen and (max-width: 425px) {
    .diez {
        grid-column: 1/ span 2;
        grid-row: 10/10;
    }
    .nueve {
        grid-column: 1/ span 2;
        grid-row: 7/7;
    }
    .ocho {
        grid-column: 1/ span 2;
        grid-row: 6/6;
        background: rgb(180, 183, 185);
    }
    .siete {
        grid-column: 1/ span 2;
        grid-row: 9/9;
    }
    .seis {
        grid-column: 1/ span 2;
        grid-row: 8/8;
    }
    .cinco {
        grid-column: 1/ span 2;
        grid-row: 5/5;
    }
    .cuatro {
        display: grid;
        justify-content: center;
        grid-column: 1/ span 2;
        grid-row: 4/4;
    }
    .tres img {
        margin:0%;
        height: 35px;
        width: 35px;
    }
    .tres {
        grid-column: 1/ span 2;
        grid-row: 3/3;
    }
    .dos h4 {
        font-size: 20px;
    }
    .dos h1 {
        font-family: fantasy;
        font-size: 40px;
    }
    .dos {
        grid-column: 1/ span 2;
        grid-row: 2/2;
    }
    .uno img {
        height: 250px;
        width: 250px
    }
    .uno {
        display: grid;
        justify-content: center;
        grid-column: 1/span 2;
        grid-row: 1/ 1;
    }
}